[Unit]
Description=Activate real-time setup after reboot.

[Service]
Type=simple
ExecStart=~/lachesis-experiments/scheduling-queries/lachesis-mod-scripts/rt_scripts/set_rt.sh

[Install]
WantedBy=multi-user.target